@font-face{
    font-family: 'Digital-7';
    src: url("fonts/digital-7.ttf") format("truetype");
}

@font-face{
    font-family: 'Sans';
    src: url("fonts/Sans.ttf") format("truetype");
}

body{
    background: rgb(213, 243, 255);
}
h1{
    text-align: center;
}
.layout{
    background: rgb(24, 32, 66);
    color: white;
    height: 350px;
    width: 500px;
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-family: 'Sans';
}

.center{
    display: flex;
    justify-content:center;
}

.score{
    margin-left:auto;
    margin-right:auto;
    display: block;
    background: black;
    font-family: 'Digital-7';
    color: red;
    height: 70px;
    width: 110px;
    font-size: 68px;
    text-align: center;
    margin-top:10px;
    margin-bottom: 30px;
}

.score_button{
    width: 35px;
    margin-left:4px;
    margin-right:4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: inherit;
    border: 2px solid lightgrey;
    font-family: 'Digital-7';
    font-size: 17px;
    color: lightgrey;
    border-radius: 5px;
    transition: background-color 0.25s ease, 
                color 0.25s ease, 
                transform 0.2s ease;
}

.newgame_button{
    width: 130px;
    margin-top:20px;
    margin-left:4px;
    margin-right:4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: inherit;
    border: 2px solid lightgrey;
    font-family: 'Sans';
    font-size: 18px;
    color: lightgrey;
    border-radius: 5px;
    transition: background-color 0.25s ease, 
                color 0.25s ease, 
                transform 0.2s ease;   
}

.score_button:hover{
    transform: translateY(-2px);
    opacity: 0.9;
}

.score_button:active{
    transform: translateY(-2px);
    opacity: 0.75;
}
.newgame_button:hover{
    transform: translateY(2px);
    opacity: 0.9;
}

.newgame_button:active{
    transform: translateY(2px);
    opacity: 0.75;
}

.flex{
    display: flex;
    justify-content: center;
}

.panels{
    margin-left: auto;
    margin-right: auto;
}